<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css"></link>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    {{>header}}
    <p> Use this site to get your weather data</p>
    <form>
        <input placeholder="Please enter the location" >
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <hr>
    {{>footer}}
    <script src="/js/js.js" ></script>

</body>
</html>